body {
  margin: 40px auto;
  max-width: 45em;
  font-size: large;
  line-height: 1.2;
  color: #121212;
  background-color: #FFFFFF;
  padding: 0 10px;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
h1 {
    border-bottom: 2px solid black;
    line-height: 1.1em;
    font-size:xx-large;
    margin-bottom: .31em;
}
h2 {
    border-bottom: 1px solid black;
    line-height : 1.1em;
    font-size:x-large;
    margin-bottom: .31px;
}
#profile_pic {
 float:right;
 margin:0em 0em 0em 0em;
}
#decoration {
 float:center;
 margin:0em 0em 0em 0em;
 max-width: 45em;
}

a {
  text-decoration: none;
  color: blue;
}
